h1 {
    background-color: blue;
    color: white;
    padding: 10px;
    border: solid 10px #88f;
    border-radius: 20px;
}

.red-button {
    background-color: #f44;
    color: white;
}

.green-button {
    background-color: #484;
    color: white;
}

button {
    margin: 10px;
}
